@model ArticleEntity
@{
    ViewBag.Title = "修改文章";
}
<section class="tool-box">
    <a href="javascript:history.go(-1);" class="am-btn am-btn-xs am-btn-default"><i class="am-icon-reply"></i>返回</a>
</section>
<form action="/admin/article/modify" method="post" class="am-form am-form-horizontal" onsubmit="return checkValidate();">
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">标题：</label>
        <div class="am-u-sm-10">
            @Html.TextBoxFor(model => model.Title, new { placeholder = "2-100个字符" })
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">分类：</label>
        <div class="am-u-sm-10">
            @await Component.InvokeAsync("Category", Model.CategoryId)
        </div>
    </div>
    <div class="am-form-group">
        @Html.TextAreaFor(model => model.Content)
    </div>
    <div class="am-form-group">
        <div class="am-u-sm-10 am-u-sm-offset-2">
            @Html.HiddenFor(model=> model.Id)
            <button type="submit" class="am-btn am-btn-primary"><i class="am-icon-check"></i>保存</button>
        </div>
    </div>
</form>

<script src="~/lib/utf8-net/ueditor.config.js"></script>
<script src="~/lib/utf8-net/ueditor.all.js"></script>
<script>
    var editor;
    function checkValidate() {
        var $Title = $("#@Html.IdFor(model => model.Title)"),
            $CategoryId = $("#@Html.IdFor(model => model.CategoryId)");
        if (!/.{2,100}/.test($Title.val())) {
            $Title.focus();
            return false;
        }
        if ($CategoryId.val()==="-1") {
            alert("请选择分类");
            return false;
        }
        if (editor.getContentTxt().length <=0) {
            editor.focus();
            return false;
        }
        return true;
    }

    $(function () {
        editor = UE.getEditor('@Html.IdFor(model=> model.Content)', {
            initialFrameHeight: 400
        });
    });
</script>

